h1 {
  font-size: 3rem;
  font-family: $font-main;
}

p,
button,
input,
label {
  font-size: 2rem;
  font-family: $font-main;
}

.font-smaller {
  font-size: 1.6rem;
}

.font-bigger {
  font-size: 2.4rem;
}

button {
  width: 12rem;
  height: 4rem;
  margin: 1rem 0;
  background: $color-main;
  color: $color-dark;
  border: none;
  @include shadow();

  &._primary {
    background: $color-compliment;
    color: $color-light;
  }
  &._secondary {
    background: $color-lowlight;
  }
  &:hover {
    background: $color-highlight;
    color: $color-dark;
  }
  &:active {
    outline: 2px solid white;
  }
  &:disabled {
    background: gray;
  }
}

input[type="number"] {
  width: 5rem;
}

input[type="range"] {
  margin: 1rem auto;
  -webkit-appearance: none;
  border: 2px solid $color-dark;
  background: white;
  height: 2rem;

  &:disabled {
    background: gray;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background: gray;

      &:hover {
        background: gray;
      }
    }
  }
  &:focus {
    outline: none;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2rem;
    height: 2rem;
    background: $color-lowlight;
    border: 2px solid $color-dark;

    &:hover {
      background: $color-highlight;
      cursor: pointer;
    }
  }
}

content p {
  font-family: $font-content;
}
