.container {
  text-align: center;
}

header {
  text-align: center;
  h1 {
    margin: 3rem;
  }
}

.Grid {
  margin: 2rem auto;
  @include flex(row, center, center);
}

.Cell {
  border: 1px solid gray;
  -webkit-user-select: none;
}