.container {
  text-align: center;
}

.css-grid-flex {
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 22% 56% 22%;
}

header {
  text-align: center;
  h1 {
    margin: 3rem;
  }
}

.Grid {
  margin: 0 auto;
  @include flex(row, center, center);
  grid-column: 2 / 2;
}

.PresetList {
  grid-column: 3 / 3;
  justify-self: start;
  @include flex(row, flex-start, flex-start);
}

.Preset {
  margin: 0 1rem;
  width: 10rem;
  height: 10rem;
  img {
    border: 1px solid gray;
  }
}

.Cell {
  border: 1px solid rgb(184, 184, 184);
  -webkit-user-select: none;
}
