html {
  background: $color-secondary;
}

.container {
  text-align: center;
  @include shadow();
  background: $color-main;
  padding: .5rem;

  &._small {
    width: 12rem;
  }
  &._vmargin {
    margin: 2rem 0;
  }
  &._preset {
    width: 12rem;
    height: 16rem;

    &:hover {
      background: $color-highlight;
    }
  }
}

header {
  text-align: center;
  margin: 4rem auto 5rem;
  background: $color-main;
  width: 50rem;
  height: 8rem;
  @include shadow();
  line-height: 8rem;
}

.css-grid {
  width: 120rem;
  margin: 3rem auto;
  display: grid;
  grid-template-areas: "controller grid presets";
  grid-template-columns: 28rem auto 28rem;
  @media #{$tablet-mobile} {
    grid-template-columns: none;
    grid-template-areas:
      "presets"
      "grid"
      "controller";
  }
}

.GameController {
  grid-column: 1 / 1;
  justify-self: end;
  grid-area: controller;

  @media #{$tablet-mobile} {
    @include flex(column, center, center);
    justify-self: center;

    .flex-row {
      width: 35rem;
      margin-top: 0rem;
      @include flex(row, space-between, center);

      & > * {
        width: 10rem;
      }
    }
  }
}

.Grid {
  @include flex(row, center, center);
  margin: -2rem auto 0;
  grid-area: grid;

  @media #{$tablet-mobile} {
    margin: 3rem auto;
  }
}

.PresetList {
  @include flex(row, flex-start, flex-start);
  grid-column: 3 / 3;
  justify-self: start;
  grid-area: presets;

  @media #{$tablet-mobile} {
    justify-self: center;
  }
}

.Preset {
  margin: 0 1rem;
  width: 10rem;
  height: 10rem;

  p {
    margin-bottom: 1rem;
  }
  img {
    border: 1px solid gray;
  }
}

.Cell {
  background: rgb(6, 14, 17);
  border: 1px solid rgb(2, 2, 2);
  -webkit-user-select: none;
  box-shadow: 0 0 0.5rem rgb(48, 119, 124);
}
