@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu+Mono&display=swap');

$font-main: 'Ubuntu Mono';
$font-content: 'Open Sans';

$color-main: #f8e055;
$color-secondary: #3c308a;
$color-compliment: #a533da;
$color-highlight: #55f8e2;
$color-lowlight: #56cfbf;
$color-light: rgb(235, 235, 235);
$color-dark: rgb(53, 53, 53);

$tablet-mobile: "(max-width: 1100px)";