@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu+Mono&display=swap');

$font-main: 'Ubuntu Mono';
$font-content: 'Open Sans';

$color-main: #ebb756;
$color-secondary: #50326b;
$color-compliment: #a533da;
$color-highlight: #55f8e2;
$color-lowlight: #56cfbf;
$color-light: rgb(235, 235, 235);
$color-dark: rgb(31, 31, 31);

$tablet-mobile: "(max-width: 1200px)";